*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Fira Sans';
}

body{
  height: 100vh;
  background-image: linear-gradient(45deg, rgb(0, 162, 255),rgb(243, 161, 175));
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2em;
}

.menu-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  border-radius: 0.5em 0.5em 0.5em 0.5em;
  
  padding: 2em 1em;
  /* margin: 0px 1em; */

  /* box shadow : start */
  -webkit-box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.247);
  -moz-box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.247);
  -ms-box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.247);
  -o-box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.247);
  box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.247);
  /* box shadow : end */

  transition: ease 0.2s;

  width: 29vw;
  height: 40vh;
  max-width: 600px;
}

.menu-button > h2 {
  margin: 0.8em 0px;
}

.menu-button:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0.4em 0.4em 0.2em rgba(0, 0, 0, 0.096), 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.247);
  -moz-box-shadow: 0.4em 0.4em 0.2em rgba(0, 0, 0, 0.096), 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.247);
  -ms-box-shadow: 0.4em 0.4em 0.2em rgba(0, 0, 0, 0.096), 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.247);
  -o-box-shadow: 0.4em 0.4em 0.2em rgba(0, 0, 0, 0.096), 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.247);
  box-shadow: 0.4em 0.4em 0.2em rgba(0, 0, 0, 0.096), 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.247);
}

.inventory{
  background-image: linear-gradient(45deg, rgb(72, 38, 192), rgb(39, 20, 110));
  border: 0.2em solid rgb(38, 6, 75);
}

.transaction{
  background-image: linear-gradient(45deg, rgb(180, 0, 69), rgb(153, 9, 110));
  border: 0.2em solid rgb(128, 3, 45);
}

.data-visualization{
  background-image: linear-gradient(45deg, rgb(0, 117, 10), rgb(3, 175, 32));
  border: 0.2em solid rgb(14, 71, 3);
}

img {
  min-height: 3em;
  height: 30%;
}

@media (max-width: 800px), (max-height: 600px) {
  p {
    display: none;
  }

  img {
    min-height: 3em;
    height: 50%;
  }
}

@media (max-height: 600px) {
  .menu-button {
    height: 30vh;;
  }
}

@media (max-width: 600px) {
  .main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }

  .menu-button {
    width: 90vw;
    height: 20vh;
  }
}