@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2 {
  font-family: 'Fira Sans';
  font-weight: bold;
}

p {
  font-family: 'Fira Sans';
  font-weight: 300;
}