.main {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "stock stock buttons"
      "sold sold buttons";
  gap: 1rem;
}

.tblc {
  grid-area: stock;
}

.transaction{
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.panel1, .panel2 {
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: clamp(10px,1em,1em);
}

.buy-table {
  grid-area: sold;
  border: 1px solid black;
}

.inlbl{
  width: 11em;
}

.indiv{
  display: flex;
  align-items: center;

  /* outline: solid 1px red; */

  height: 1.8em;
  width: 90%;

  background-color: black;
  color: white;
  font-weight: bold;

  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.in{
  height: 100%;
  width: 100%;
  text-align: center;
}

.panel1 > div, .panel2 > div {
  width: 90%;
  height: 2.3em;
}

.gbtn{
  padding: 0px !important;
}

.mbtn{
  display: none !important;
}

.ro{
  background-color: rgb(207, 207, 207);
  border: 1px solid rgb(207, 207, 207);
}