.main {
  height: 100%;
  width: 100%;
  padding: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "stock stock buttons"
      "sold sold buttons";
  gap: 1rem;
}

.inventory-table {
  grid-area: stock;
  border: 1px solid black;

  background-color: rgb(241, 241, 241);
  overflow: auto;

  border-radius: 0.7em 0.7em 0.7em 0.7em;
  text-align: center;
}

.inventory-table > table{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.inventory-table > table > tbody tr:nth-child(2n){
  background-color: rgb(167, 252, 156);
  font-weight: thin;
}

.inventory-table > table > thead > th{
  position: sticky;
  top: 0;

  background: rgb(228, 28, 138);
  color: white;
}

.inventory-table > table > thead > th, .inventory-table > table > tbody > tr{
  height: 1.7em;
}

.transaction {
  grid-area: buttons;
  border: 1px solid black;
}

.buy-table {
  grid-area: sold;
  border: 1px solid black;
}